
<div class="card-container bg-lt-grey">
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" autocomplete="username" required><br>
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" autocomplete="current-password" required>
    </div>
    <button type="submit" class="btn btn-primary m-top">Log In</button>
</form>
<a href="/register" class="secondary-link m-left-1">Register</a>
</div>