
<div class="card-container bg-lt-grey">
    <form action="/register" method="POST">
        <div>
            <label for="first">First Name</label>
            <input class="form-control" type="text" id="first" name="first" required><br>
            <label for="last">Last Name</label>
            <input class="form-control" type="text" id="last" name="last" required><br>
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" autocomplete="username"required><br>
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" autocomplete="current-password" required>
        </div>
        <button type="submit" class="btn btn-primary m-top">Sign Up</button>
    </form>

    <a class="secondary-link m-left-1" href="/">Login</a>
</div>